body {
    font-family: 'Roboto',
        sans-serif;
    background-color: #f5f7fa;
}

a {
    text-decoration: none;
}


/* Стилі панелі навігації */
.nav {
    height: 25vh;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 16px;
    white-space: nowrap;
    margin: 0;
   
    border: 0;
    color: #3482db;
    font-weight: 600;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;

}

.nav a{
    color: #3482db;
}

.nav-items {
    list-style-type: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    list-style-type: none;
    height: 19px;
    display: flex;
    justify-content: center;

}

.nav-it {
    padding-right: 19px;
    padding-left: 19px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    list-style-type: none;
}

/* Стилі презентації */


.presentation {
    background-color: #fff;
    background-image: url(/images/index.png);
    display: flex;
    flex-direction: column-reverse;
    align-content: flex-end;
    margin: auto;
    height: 500px; 100vh;
    margin: 0;
    padding: 0;
    border: 0;
    padding-top: 0px;
    padding-bottom: 0px;
    box-sizing: content-box;
    margin: 0;
    padding: 0;
    border: 0;
    width: 100%;
    background-size: cover;
    background-color: #000;
    background-repeat: no-repeat;
    background-position: center center;
    text-align: center;
    vertical-align: middle;
    position: relative;
    background-attachment: fixed;
    overflow: hidden;

}


.main-header-style {


    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Roboto', Arial, sans-serif;
    font-weight: 700;
    line-height: 1.55;
    font-size: 16px;
    color: #fff;
    padding-top: 28px;
    padding-bottom: 28px;
    max-width: 480px;
    width: 100%;
    margin-left: 50px;
    text-align: left;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

}

.hidden {
    display: none
}
