body {
    font-family: 'Roboto', sans-serif;
    background-color: #f5f7fa;
    margin: auto;
}

a {
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}


/* Стилі панелі навігації */
.nav {
    height: 25vh;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 16px;
    white-space: nowrap;
    font-weight: 600;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;

}

.nav a{
    color: #3482db;
}

.nav-items {
    list-style-type: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    height: 19px;
    display: flex;
    justify-content: center;

}

.nav-it {
    padding-right: 19px;
    padding-left: 19px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    list-style-type: none;
}

/* Стилі презентації */
.presentation {
    height: 100vh;
    background-image: url(/images/index.png);
    background-position: center center;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    
}


.main-header-style { margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    line-height: 1.55;
    font-size: 18px;
    color: #fff;
    padding-top: 28px;
    padding-bottom: 28px;
    max-width: 480px;
    width: 100%;
    margin-left: 50px;
    text-align: left;
    margin-bottom: 40px;
    

}

/* Стилі місії проекту */
.mission {
    font-family: 'Roboto', Arial, sans-serif;
    font-weight: 300;
    color: #000;
    font-size: 20px;
    line-height: 1.55;
    box-sizing: content-box;
    text-align: center;
    
}

.mission-intro {
    box-sizing: content-box;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    width: 50%;
}

/* Стилі магазину */
.shop {}
.shop-items {
    list-style-type: none;
}

/* Стилі заклику до покупки */

.how-to-buy {
    box-sizing: content-box;
    padding-top: 45px;
    padding-bottom: 105px;
    background-color: #d4f5ff;
}

.how-to-buy-header {
    font-family Roboto,Arial, sans-serif; 
    font-size 24px; 
    font-weight 700;
    height auto;
    line-height: 32px;
}

.how-to-buy-text {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.how-to-buy-text >p {
    margin-top: 0,5em;
    margin-bottom: 0em;
}


/* Стилі футера */
.footer {
    list-style-type: none;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
}

.allways-for-U {
font-size 16px;
font-weight 300;
line-height: 1.55;
margin-bottom: 35px;
}

.contacts {
font-size: 28px;
font-weight: 300;
line-height: 1.5;
margin-bottom: 35px;
}

.contacts a{
color: #000;
}


.contacts-items {
    list-style-type: none;
}

.soc-media {
    list-style-type: none;
    height: 72px;
    display: flex;
    justify-content: center;
}

.soc-media-items {
    margin-left: 3px;
   margin-right: 3px;
}